<ion-view view-title="Cinema Papaya">
  <ion-content>    
  	<img src="img/banner.jpg" width="100%">	
    <h2 class="center">Bienvenidos</h2>
    <p class="bienvenida">
      The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <h2 class="center">¿Quienes somos?</h2>
    <div class="row">
      <div class="col">
		  <div class="list card">
		  	<div class="item item-image">
			    <img src="img/perfil_mujer.jpg">
			</div>
		  </div>
	   </div>

	  <div class="col">
	  	<div class="list card">
		  	<div class="item item-image">
			    <img src="img/perfil_hombre1.jpg">
			</div>
		  </div>
	  </div>
	  
	  <div class="col">
	  	<div class="list card">
		  	<div class="item item-image">
			    <img src="img/perfil_hombre2.jpg">
			</div>
		  </div>
	  </div>

	  <div class="col">
	  	<div class="list card">
		  	<div class="item item-image">
			    <img src="img/perfil_hombre3.jpg">
			</div>
		  </div>
	  </div>
	</div>

  </ion-content>  
</ion-view>
