<ion-view view-title="Videos">
  <ion-content>
    <h1 class="center">Videos</h1>
    <div class="row">
	  <div class="center col-50">
		<div class="list card">
		  <div class="item item-image">
		    <img src="img/peliculas/6lucy.jpe">
		  </div>
		  <a class="item item-icon-left assertive" href="#">
		    <i class="icon ion-music-note"></i>
		    Start listening
		  </a>
		</div>
	  </div>

	  <div class="center col-50">
		<div class="list card">

		  <div class="item item-image">
		    <img src="img/peliculas/6lucy.jpe">
		  </div>

		  <a class="item item-icon-left assertive" href="#">
		    <i class="icon ion-music-note"></i>
		    Start listening
		  </a>

		</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-50">
		<div class="list card">
		  <div class="item item-image">
		    <img src="img/peliculas/6lucy.jpe">
		  </div>
		  <a class="item item-icon-left assertive" href="#">
		    <i class="icon ion-music-note"></i>
		    Start listening
		  </a>
		</div>
	  </div>

	  <div class="col-50">
		<div class="list card">
		  <div class="item item-image">
		    <img src="img/peliculas/6lucy.jpe">
		  </div>
		  <a class="item item-icon-left assertive" href="#">
		    <i class="icon ion-music-note"></i>
		    Start listening
		  </a>
		</div>
	  </div>
	</div>
  </ion-content>
</ion-view>
